---
title: Home
layout: default
---
<section class="carousel">
</section>

{% for page in site.pages %}
  {% if page.contentTag == "homeSection" %}
    <section class="normal">
      <h2><strong>{{ page.title }}</strong></h2>

      <div class="two columns">
        <div class="narrow column">
          {% if page.photo %}
            <figure>
              <img src="{{ page.photo }}" />
            </figure>
          {% endif %}
        </div>

        <div class="wide column">
          <div class="content markdownSection">
            {{ page.content }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}
