---
title: Programs
layout: default
---

<img  style='margin-top:-1px' src="/images/programs.jpg"></img>

<section class="normal intro">
  <h1><strong>Programs</strong></h1>

  <nav>
    {% for page in site.pages %}
      {% if page.contentTag == "programsSection" %}
        <a href="#{{ page.slug }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    <a href="powerful">Powerful Stories</a>
  </nav>
</section>

{% for page in site.pages %}
  {% if page.contentTag == "programsSection" %}
    <section id="{{ page.slug }}" class="normal">
      <h2><strong>{{ page.title }}</strong></h2>

      <div class="two columns">
        {% if page.photo %}
          <div class="narrow column">
            <figure>
              <img src="{{ page.photo }}" />
            </figure>
          </div>
        {% endif %}

        <div class="{% if page.photo %}wide column{% endif %}">
          <div class="content markdownSection">
            {{ page.content }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

<section id="powerful" class="normal">
  <h2><strong>Powerful Stories</strong></h2>
</section>
