$carousel-width = 100%
$dot-spacing = 20px

#content > section.carousel
  height: 430px
  width: $carousel-width
  overflow: hidden
  position: relative
  border-bottom: 1px solid #cecdc5
  box-shadow: 0px 1px 0px #fff
  margin: 0

  &.first
    .carousel-item
      transform: translateX(0px)

    .back
      transform: translateX(0px)

  &.second
    .carousel-item
      transform: translateX($carousel-width * -1)

    .back
      transform: translateX($dot-spacing)

  &.third
    .carousel-item
      transform: translateX($carousel-width * -2)

    .back
      transform: translateX($dot-spacing * 2)

  &.fourth
    .carousel-item
      transform: translateX($carousel-width * -3)

    .back
      transform: translateX($dot-spacing * 3)

  .carousel-item
    display: inline-block
    position: absolute
    margin: 0
    padding: 0
    top: 0
    transition: transform 1.0s ease-in-out

    &.second
      left: $carousel-width

    &.third
      left: $carousel-width * 2

    &.fourth
      left: $carousel-width * 3

    img
      max-width: 100%

    .carousel-details
      position: absolute
      left: 105px
      top: 220px
      width: 475px
      color: white

      h2
        font-size: 40px
        font-family: "Open Sans Condensed"
        font-weight: 700
        margin-top: 0
        margin-bottom: 5px

      p
        font-size: 16px
        text-shadow: 0px 1px 3px rgba(0,0,0,.6)
        margin-top: 0
        margin-bottom: 10px

      a
        @extends .standard-button
        background: $green

  .carousel-controls
    position: absolute
    top: 405px
    left: 460px

    .circle
      width: $dot-spacing + 1
      position: absolute
      height: 20px
      z-index: 4
      top: 4px

    #first
      left: 4px

    #second
      left: $dot-spacing + 9px

    #third
      left: (2 * $dot-spacing + 2px) + 7px

    #fourth
      left: (3 * $dot-spacing + 2px) + 7px

    .front
       left: 0
       position: relative
       top: 0
       z-index: 1

    .back
      left: 9px
      position: absolute
      top: 10px
      z-index: 0
      transition: transform 1.0s ease-in-out
