$green = #a7d434
$orange = #faad19
$light-blue = #29a8e0

$text-color = #160b00
$bg-color = #eeedeb
$content-color = #f7f6f1


$body-font = 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif

$map-width  = 600
$map-height = 400