section.home  
  header
    background: url(../images/bg-section-header.png) repeat-x center
    text-align: center
    h1
      display: inline-block
      margin: 0 auto
      padding: 0 20px
      background: $content-color
      color: #142137
      font-family: 'Open Sans Condensed', 'Arial'
      font-size: 30px
      font-weight: 700
      line-height: 53px
      text-transform: uppercase
