// Here we go
@import '../node_modules/nib'
@import 'common'
@import 'home'
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700')
@import url('http://fonts.googleapis.com/css?family=Arvo')

button
  width: 148px
  height: 28px
  border: 1px solid rgba(#333, 1)
  border-radius: 3px
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 2px 4px rgba(0,0,0,.3)
  text-shadow: 0 1px 0 rgba(255,255,255,.3)
  &.blue
    background: #2aa9db
  &.green
    background: #7ed147

hr
  height: 0
  border-top: 1px solid #cecdc5
  box-shadow 0 1px 0 #fff

section
  img
    float: left
    max-width: 320px
    border: 2px solid #fff
    text-shadow: 0 1px 0 rgba(0,0,0,0.3)
  .content
    margin-left: 353px
    h2
      font-family: 'Open Sans Condensed', 'Arial'
      font-size: 30px
      font-weight: 700
      line-height: 1em

ul
  list-style: none
  margin: 0px
  padding: 0px

a 
  color : white
  text-decoration: none

body, html
  background: $bg-color
  color: $text-color
  font-family: $body-font
  padding:0px
  margin: 0px
  height: 100%

header
  width: 100%
  background-color: #071633
  color : white
  height: 55px
  margin-bottom: 2px solid white
  li
    display: inline-block
    vertical-align: center

#content
  background-color: $content-color
  max-width: 1024px 
  margin: 0px auto 
  width: 90%
  height: 100%
  padding: 0px


#map
  width : $map-width px
  height : $map-height px
  margin : 0px
  padding: 0px