// Here we go
@import '../node_modules/nib'
@import 'common'
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700')
@import url('http://fonts.googleapis.com/css?family=Arvo')

ul
  list-style: none
  margin: 0px
  padding: 0px

a 
  color : white
  text-decoration: none

body, html
  background: $bg-color
  color: $text-color
  font-family: $body-font
  padding:0px
  margin: 0px
  height: 100%

header
  width: 100%
  background-color: #071633
  color : white
  height: 55px
  margin-bottom: 2px solid white
  li
    display: inline-block
    vertical-align: center

#content
  background-color: $content-color
  max-width: 1024px 
  margin: 0px auto 
  width: 90%
  height: 100%
  padding: 0px


#map
  width : $map-width px
  height : $map-height px
  margin : 0px
  padding: 0px