section.schools
  ul
    li
      padding: 24px 0
      > .content
        margin-left: 190px
        h2
          margin: 0
          color: #1d0f00
          font-family: 'Arvo'
        span.location
          padding: 0 0 0 14px
          background: url(../images/green-drop.png) no-repeat center left
          color: #a5a397
          font-size: 11px
          text-transform: uppercase