$circleouter= 12px
$circleinner= 8px
$inneroffset= ($circleouter - $circleinner)/2

.timeline
  position: relative
  width: 100%
  height: 40px
  margin: 0 0 30px 0
  .bar 
    width: 100%
    height: 5px
    background-color: #D5D4CD
    border-bottom: 1px solid white
    position: absolute
    top: 64px
  ul.inner
    width: 100%
    position: absolute
    top: 60px
    list-style: none
    margin: 0
    padding: 0
    li
      position:absolute
      width: $circleouter 
      height: $circleouter
      border-radius: $circleouter
      background-color: white 
      cursor: pointer
      .tooltip
        position: absolute
        bottom: 18px
        left: 0px
        display: none
        width: 120px
        p
          font-size: 10px
          color: #a4a296
          margin:0px
          padding:0px
          .event
            color: black

      &.active
        .tooltip
          display: block
      .markerInner 
        left: $inneroffset
        top: $inneroffset 
        width: $circleinner
        height: $circleinner
        border-radius: $circleinner
        position:absolute
        background-color: red 
