<nav>
  <ul>
    <li><a href="index">Home</a></li>
      <!--Carousel, random blocks-->
    <li><a href="about">About us</a></li>
      <!--mission stmt, directors, team bios, partners-->
    <li><a href="programs">Programs</a></li>
      <!--DEFER Volunteer/explanation,apply,testimonials, PEDU/Expl.chapters,startchapter, POW/pillars-->
    <li><a href="schools">Projects</a></li>
      <!--schools/school page, PED-U-->
    <li><a href="watch">Watch</a></li>
      <!--documentary-->
    <li><a href="http://pangeaeducation.wordpress.com">Blog</a></li>
    <!-- Blog -->
  </ul>
</nav>
