.columns
  overflow: hidden

  > .column
    box-sizing: border-box
    float: left
    padding-left: 30px

    &:first-child
      padding-left: 0

    @media (max-width: 500px)
      #container &
        width: 100%
        padding-left: 0

  &.two
    > .column
      width: 50%

      &.wide
        width: 67%

      &.narrow
        width: 33%

  &.three
    >.column
      width: 33%
