@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("http://fonts.googleapis.com/css?family=Arvo");
ul{list-style:none;margin:0;padding:0}
a{color:#fff;text-decoration:none}
body,html{background:#eeedeb;color:#160b00;font-family:'Helvetica Neue','Arial','Helvetica',sans-serif;padding:0;margin:0;height:100%}
header{width:100%;background-color:#071633;color:#fff;height:55px;margin-bottom:2px solid #fff;}
header li{display:inline-block;vertical-align:center}
#content{background-color:#f7f6f1;max-width:1024px;margin:0 auto;width:90%;height:100%;padding:0}
#map{width:600px;height:400px;margin:0;padding:0}
