<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Pangea Educational Development: {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo" />
    <link rel="stylesheet" href="stylesheets/fontello.css"><!--[if IE 7]>
    <link rel="stylesheet" href="stylesheets/fontello-ie7.css"><![endif]-->
  </head>

  <body>
    <div id='content'>
      <div class='schoolTimeline'></div>
      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </div>

    <script src="javascripts/jquery-1.8.3.min.js"></script>
    <script src="javascripts/d3.v2.min.js"></script>
    <script src="javascripts/leaflet.js"></script>
    <script src="javascripts/marked.js"></script>
    <script src="javascripts/moment.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
