<% title "Edit University" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @university, class: 'btn btn-mini' %>&nbsp;&nbsp;
  <%= link_to "View All", universities_path, class: 'btn btn-mini' %>
</p>
